// Basic Layout
.wrap_basic {
	#header{
		position: relative;
		z-index: 21;
	}
	#container{
		position: relative;
	}
	#footer{
		position: relative;
		z-index: 11;
	}
  .inner{
    width: 1200px;
    margin: 0 auto;
  }
}
